{
	"printWidth": 90,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"bracketSpacing": false,
	"parser": "typescript",
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"parser": "json"
			}
		}
	]
}
